/* COLORS */
$white: #FFFFFF;
$grey-darkest: #414141;

$answer-color-1: #f6ffc0;
$answer-color-2: #e2ff85;
$answer-color-3: #caf246;
$answer-color-4: #bdd84c;
$answer-color-5: #a1c038;
$answer-color-6: #8aa630;
$answer-color-7: #607321;
$answer-color-8: #53601d;
$answer-color-9: #354012;
$answer-color-10: #1c210a;

$circle-size: 15px;
